<!DOCTYPE HTML>
<!--
  Fractal by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Fractal by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  </head>
  <body id="top">

    <!-- Header -->
      <header id="header">
        <div class="content">
          <h1><a href="#">JUST EAT PETS</a></h1>
          <p>Now you can order takeaway guilt-free<br />
          by ordering food for your pet too.</p>
          <ul class="actions">
            <li><a href="JustEatPetsV0.apk" class="button special icon fa-download">Download</a></li>
            <li><a href="#footer" class="button icon fa-chevron-down scrolly">Learn More</a></li>
          </ul>
        </div>
        <div class="image phone"><div class="inner"><img src="images/screen.png" alt="" /></div></div>
      </header>

    <!-- Footer -->
      <footer id="footer">
        <h4>Source Code</h4>
        <ul class="icons">
          <li><a href="http://github.com/fareskalaboud/JustEatPets-App" class="icon fa-mobile-phone"><span class="label">App</span></a><br>App<br>(Android)</li>
          <li><a href="http://github.com/fareskalaboud/JustEatPets-API" class="icon fa-list-alt"><span class="label">API</span></a><br>API<br>(Rails)</li>
        </ul>
        <hr>
        <h4>Written by</h4>
        <ul class="icons">
          <li><a href="http://jonathanburton.me" class="icon fa-gg"><span class="label">Jonathan</span></a><br>Jonathan</li>
          <li><a href="http://kylehodgetts.com" class="icon fa-magnet"><span class="label">Kyle</span></a><br>Kyle</li>
          <li><a href="http://twitter.com/ninjaingcat" class="icon fa-star"><span class="label">Jana</span></a><br>Jana</li>
          <li><a href="http://faresalaboud.me" class="icon fa-rocket"><span class="label">Fares</span></a><br>Fares</li>
        </ul>
        <p class="copyright">Built at <a href="http://brumhack.co.uk">BrumHack</a></p>
      </footer>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>

  </body>
</html>
